@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#030a19;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(237,54%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(184,95%,52%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(156,100%,49%,1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.navbar {
  height: 80px;
  
  background-color: transparent; 

  position: static;
  top: 0;
  font-size: 1.3rem;
  border-bottom: 0px solid white; }

  .cover {
    position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
  }

  .skills {
    margin: 90px;
    list-style: none;
  }
  .skills li{
    margin: 0px 0;
  }

  .bar {
    display: block;
    height: 20px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 0px;
    
  }

  .bar span{
    height: 100%;
    float: left;
    background: linear-gradient(45deg, #6466f1, #a855f7, #ec4899);
  }

  .solidity {
    width: 50%;
    animation: solidity 4s;
  }

  .react {
    width: 60%;
    animation: react 4s;
  }

  .python {
    width: 60%;
    animation: python 4s;
  }

  .bootstrap {
    width: 70%;
    animation: bootstrap 4s;
  }
  
  .css {
    width: 90%;
    animation: css 4s;
  }

  @keyframes solidity {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

  @keyframes python {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

  @keyframes bootstrap {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }

  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }

  @keyframes solidity {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4; 
  }
}


